html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(100, 104, 105);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(112, 110, 107));
}

.nav-item{
  transition: .2s;
  font-size: 14px;
}
.nav-item:hover{
  transform: scale(1.5);
}
#homeimg{
  transition: .4s;
  
}
#homeimg:hover{
  transform: scale(1.03);
}
.imgtext
{
  
    position: relative;
    text-align: center;
    color: white;
  
}
#imgtext{
  position: absolute;
  bottom: 328px;
  left: 160px;
  font-family: 'Rampart One', cursive;
}
#imgtext2{
  position: absolute;
  bottom: 308px;
  left: 170px;
  font-family: 'Kalam', cursive;
  font-size: 13px;
}
